<div class="card">

	<table class="table">
		<thead>
			<tr>
				<td>Stream started</td>
				<td>Stream title</td>
			</tr>
		</thead>

		<%= for stream <- Glimesh.Streams.list_streams(@channel) do %>

			<tr>

				<td><%= stream.started_at %></td>
				<td><%= stream.title %></td>

			</tr>

		<% end %>
	</table>

</div>