<div class="container">
  <div class="form-group mt-4">
    <h2 class="text-center"><%= gettext("Does not exist") %></h2>
    <div class="text-center">
      <.link navigate={Routes.gct_path(@conn, :index)} class="btn btn-primary mb-4">
        <%= gettext("Go Back") %>
      </.link>
    </div>
  </div>
</div>
