<div class="container">
    <h2 class="mt-4"><%= gettext("Information for %{user}'s channel", user: @channel.user.displayname) %></h2>
    <div class="form-group">
        <span class="form-group-btn"><!-- Make channel button array here :)--></span>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
            <div class="col-md-4 text-center">
            </div>
            </div>
        </div>
    </div>
</div>
