.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
  }

.card {
    background: transparent !important;
    margin-right: 0 !important;
    width: 100% !important;
    border: none !important;
  }

.card-header {
    background-color: transparent !important;
    border: none !important;
}

.card-header:first-child {
    background-color: transparent !important;
}

.card-footer:last-child {
    /* border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px); */
    margin-top: 20px !important;
    border-radius: 25px !important;
    width: 135% !important;
    padding: 0 !important;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 25px !important;
}

.card-footer.text-center.lead {
    width: 100% !important;
}

.card-footer > .row {
    margin-top: 25px !important;
}

#profile > .card-footer {
    width: 100% !important;
    padding: 25px !important;
}