.card-stream {
    img {
        transition: transform .2s;
    }

    .card-img {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .card-img-overlay {
        transition: opacity .2s;
    }

    .card-stream-title {
        text-overflow: ellipsis;
    }


    .card-stream-category {
        float: left;
    }

    .card-stream-tags {
        float: right;
        text-align: right;
    }

    .card-stream-streamer {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // margin: 15px;
        padding: 1px;

        background: var(--stream-card-streamer-background);
        border-radius: 30px;
    }

    .card-stream-streamer.sub-ready {
        background: $color-secondary !important;
    }

    &:hover {
        img {
            transform: scale(1.03);
        }

        .card-img-overlay {
            opacity: 0.2;
        }

        color: var(--body-color);
    }
}