.card-stream {
    img {
        transition: transform .2s;
    }

    .card-stream-title {
        text-overflow: ellipsis;
        // overflow: hidden;
        // white-space: nowrap;
    }
    .card-stream-tags {
        text-align: right;
    }

    .card-stream-streamer {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // margin: 15px;
        padding: 1px;

        background: var(--stream-card-streamer-background);
        border-radius: 30px;
    }
    .card-stream-streamer.sub-ready {
        background: $color-secondary !important;
    }

    &:hover {
        img {
            transform: scale(1.03);
        }

        color: var(--body-color);
    }
}
