.card-glimheart {
    background-image: url("/images/glimheart.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20%;
}

.card-glimfamily {
    background-image: url("/images/glimfamily.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 35%;
}