.card-stream {
    img {
        transition: transform .2s;
        border-radius: 25px !important;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
    }

    .card-img {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .card-img-overlay {
        transition: opacity .2s;
    }

    .card-stream-title {
        text-overflow: ellipsis;
    }

    .card-stream-tags {
        text-align: right;
    }

    .card-stream-streamer {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        // margin: 15px;
        padding: 1px;

        background: var(--stream-card-streamer-background);
        border-radius: 30px;
    }

    .card-stream-streamer.sub-ready {
        background: $color-secondary !important;
    }

    &:hover {
        img {
            transform: scale(1.03);
        }

        .card-img-overlay {
            opacity: 0.2;
        }

        color: var(--body-color);
    }

    border-radius: 25px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
}