.pop-out-chat {
    width: 100vw;
    height: 100vh;
}

#chat {
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;

    --chat-bg-image: url('/images/bg.png');
    background-image: var(--chat-bg-image);

    border-radius: 6px;

    .chat-messages {
        flex: 1 1 90%;
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        overflow-y: scroll;

        .channel-header {
            align-self: center;
            margin-top: 15px;
            margin-bottom: 10px;

            span {
                color: $m-color_3;
                margin-bottom: 0;
                font-weight: 700;
                background: $m-color_10;
                padding: 7px 20px;
                border-radius: 5px;
                box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
            }
        }

        .bubble {
            flex: 0 1 auto;
            align-self: flex-start;
            background-color: lightgreen;
            border-radius: 5px;
            margin: 3px;
            padding: 10px;
            max-width: 370px;
            word-break: break-word;
            color: $m-color_3;

            background-color: $m-color_10;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);

            .img-chat-avatar {
                height: 20px;
                width: 20px;
                border-radius: 50%;
            }

            .user-message {
                margin-top: 5px;
            }
        }

        // .bubble.you {
        //     align-self: flex-end;
        // }
    }


    .channel-footer {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;

        span {
            color: $m-color_3;
            margin-bottom: 0;
            font-weight: 700;
            background: $m-color_10;
            padding: 7px 20px;
            border-radius: 5px;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
        }
    }

    .chat-form {
        flex: 0 0;
    }
}