$padding: 7px 14px;
$border-radius: 0.5em;
$box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);

#chat-column{
    --chat-background: url(/images/bg.png);
    --type-color: #4fd7e3;
    --chat-size: 14px;
    --emoji-size: 24px;
    --avatar-size: var(--emoji-size);
    --chat-color: #e0e6ed;
    --chat-message-background: #0e1726;
    --chat-mention: lightseagreen;
}

#chat {
    height: 100%;

    .chat-system {
        display: flex;
        height: 100%;

        .chat-box {
            width: 100%;
            height: 100%;
            border-radius: $border-radius + 0.1;
            background: var(--chat-background);
            position: relative;

            img {
                height: var(--emoji-size);
                width: var(--emoji-size);
            }

            .chat-conversation-box {
                width: 100%;
                max-height: 94.68%;
                overflow: auto;
                display: inline-flex;
                position: absolute;
                top: 0;

                .chat {
                    padding: 0 5px;
                }

                #chat-conversation-box-scroll{
                    padding-top: 1em;
                    width: 100%;
                }
            }
            
            .chat-input {
                .emoji-activator {
                    font-size: 24px;
                    position: absolute;
                    color: var(--gray);
                    left: 11px;
                    top: 12px;
                    cursor: pointer;
                }
    
                #chat_message_pritty {
                    min-height: calc(1.4em + 1.4rem + 2px);
                    font-size: 16px;
                    width: 100%;
                    color: var(--type-color);
                    outline: none;
                    padding: 12px 16px 12px 43px;
                    border: 1px dashed var(--dark);
                    border-radius: $border-radius;
                    background: #0e1726;
                    box-shadow: none;
                
                    ::selection {
                        background: #1b55e2;
                    }
                }
            }

            .chat-form {
                position: relative;
            }

            .bubble {
                font-size: var(--chat-size);
                display: inline-block;
                clear: both;
                margin-bottom: 7px;
                padding: $padding;
                -moz-border-radius: $border-radius;
                -webkit-border-radius: $border-radius;
                border-radius: $border-radius;
                word-break: break-word;
                width: 100%;
                -webkit-box-shadow: $box-shadow;
                -moz-box-shadow: $box-shadow;
                box-shadow: $box-shadow;
                color: var(--chat-color);
                background-color: var(--chat-message-background);

                .img-chat-avatar {
                    height: var(--avatar-size);
                    width: var(--avatar-size);
                    border-radius: 50%;
                }

                &.mention {
                    background-color: var(--chat-mention);
                }
            }

            .conversation-start {
                margin-bottom: 21px;
                text-align: center;
    
                span {
                    font-size: var(--chat-size);
                    color: var(--chat-color);
                    font-weight: 700;
                    background: var(--chat-message-background);
                    padding: $padding;
                    border-radius: $border-radius;
                    -webkit-box-shadow: $box-shadow;
                    -moz-box-shadow: $box-shadow;
                    box-shadow: $box-shadow;
                }
            }

            .chat-footer {
                display: block;
                padding: 6px 13px 6px 5px;
                background: var(--chat-message-background);
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                -webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.3);
                box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.3);
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }
    }
}