.jumbotron-glimesh {
    background-color: transparent;
    background-image: url("/images/banner.png");
    background-size: cover;
    border-radius: 25px !important;
    color: var(--white);
}

.jumbotron-mature-content {
    background-color: transparent;
    background-image: url("/images/banner.png");
    background-size: cover;
    //height: 62.5vh !important;
    border-radius: 25px !important;
    color: var(--white);
}