.jumbotron-glimesh {
    background-color: transparent;
    background-image: url("/images/banner.png");
    background-size: cover;
    height: 274px;
    border-radius: 15px;

    color: var(--white);
}

.jumbotron-mature-content {
    background-color: transparent;
    background-image: url("/images/banner.png");
    background-size: cover;
    border-radius: 15px;

    color: var(--white);
}