.live-modal {
    opacity: 1 !important;
    position: fixed;
    //z-index: 1; There was probably a reason for this?
    z-index: 5000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.live-modal .modal-title {
    margin-top: 0;
}

.live-modal .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.modal-header {
    border: 0 !important;
}

.modal-content {
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
    border-radius: 25px !important;
}