.nav-pagenav {
    .nav-item a {
        color: var(--navbar-color);
        border-bottom: 1px solid var(--navbar-color);
    }

    .nav-item.active a {
        color: var(--primary);
        border-bottom: 1px solid var(--primary);
    }
}

.navbar-nav > li > a {
    padding-top:5px!important;
    padding-bottom:5px!important;
}

.navbar {
    padding-top: .28em !important;
    padding-bottom: .28em !important;
    min-height: 40px !important;
}

#moreDropdown.dropdown-toggle::after {
    content: none;
}