.nav-pagenav {
    .nav-item a {
        color: var(--navbar-color);
        border-bottom: 1px solid var(--navbar-color);
    }

    .nav-item.active a {
        color: var(--primary);
        border-bottom: 1px solid var(--primary);
    }
}

.nav-link {
    &.active {
        border-radius: 25px;
    }
}

// Navbar
.navbar {
    background-color: var(--navbar-bg-color);
    border-color: var(--navbar-border-color);
    color: var(--navbar-color);
    background: none !important;
    margin-top: 20px !important;
    margin-right: 5% !important;

    @media screen and (max-width: 880px) {
        padding: 0 !important;
    }

    a {
        color: var(--navbar-color);
    }

    .navbar-toggler {
        color: var(--body-color);
    }
}