.btn-application{
    width: 100%; 
    padding: 0.4375rem 0rem; 
    text-shadow: none; 
    color: #007bff;
    white-space: normal; 
    word-wrap: break-word; 
    touch-action: manipulation; 
    cursor: pointer; 
    display: inline-block; 
    user-select: none; 
    background-color:#0c1321; 
    border-radius: 0.25rem;
}

.full-btn-center{
    height:100%; 
    width: 100%; 
    padding: 0.4375rem 0rem; 
    text-shadow: none; 
    white-space: normal; 
    word-wrap: break-word; 
    display: inline-block;
}