// Initial sizing for mobile, quickly overwritten any time we have columns
#chat-column {
    #chat {
        max-height: 400px;
    }
}

#video-column {
    h5 {
        position: relative;
        top: 6px;
    }
}

@media (min-width: 992px) {
    #chat-column {
        #chat {
            max-height: initial;
        }
    }

    .chat-flex {
        position: relative;
        flex: 1 1 auto;
    }

    .chat-absolute {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        width: 100%;
    }
}
