// Initial sizing for mobile, quickly overwritten any time we have columns
#chat-column {
    #chat {
        max-height: 400px;
    }
}

@media (min-width: 992px) {
    #chat-column {
        #chat {
            max-height: calc(100vh - 90px);
        }
    }

    .chat-flex {
        position: relative;
        flex: 1 1 auto;
    }

    .chat-absolute {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .btn-responsive {
        padding: 2px 4px;
        line-height: 1;
        border-radius: 3px;
    }
}