// Initial sizing for mobile, quickly overwritten any time we have columns
#chat-column {
    #chat {
        max-height: 400px;
    }
}

@media (min-width: 992px) {
    #chat-column {
        #chat {
            max-height: initial;
        }
    }

    .chat-flex {
        position: relative;
        flex: 1 1 auto;
    }

    .chat-absolute {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        width: 100%;
    }
}

@media (max-width: 776px) {
    .f_txt {
        display: none;
    }

    .uf_txt {
        display: none;
    }

    .v_txt {
        display: none;
    }
}

@media (min-width: 777px) {
    .f_ico {
        display: none;
    }

    .uf_ico {
        display: none;
    }

    .v_ico {
        display: none;
    }
}