@import "../variables";

$tags-border-color : var(--input-border-color);
$tags-hover-border-color : var(--input-border-color);
$tags-focus-border-color : var(--input-border-color);

// Tagify does really weird things with it's CSS variables that makes it impossible for us to overwrite them properly.

.tagify {
    // Fuck this v
    color: $input-color;
    background-color: $input-bg !important;
    border-radius: 0.25rem;
    // overflow: hidden;
}

.tagify__input {
    &:empty:before {
        white-space: break-spaces;
        overflow: hidden;
    }

    &:focus {
        &:empty {
            &::before {
                color: $input-color !important;
            }
        }
    }

    &::before {
        color: $input-color !important;
    }
}

.tagify__dropdown {
    color: $input-color !important;

    .tagify__dropdown__wrapper {
        background-color: $input-bg !important;
        border-color: $input-border-color !important;
    }
}

@import "~@yaireo/tagify/src/tagify";