// Used for user generated content or blog posts
.user-content-body {
    table {
        @extend .table;
    }

    img {
        max-width: 100%;
    }

    li {
        color: $color-bone-white;
    }
}

.text-heavy-content {
    h2 {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    h2:first-child {
        margin-top: 0px;
    }

    h5 {
        margin-top: 15px;
    }
}