<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag if (assigns[:page_title]), do: assigns[:page_title] <> " - Glimesh", else: "Glimesh" %>

    <meta name="description" content="Glimesh is a live streaming platform focused on discoverability & community. Our mission is to build a platform where everyone can have the chance to flourish.">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/favicons/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/favicons/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/favicons/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/favicons/site.webmanifest") %>">
    <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/favicons/safari-pinned-tab.svg") %>" color="#0e1726">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#0E1726">

    <meta property="og:url" content="https://glimesh.tv/" />
    <meta property="og:title" content="Your Next Generation Streaming Platform" />
    <meta property="og:description" content="Glimesh is a live streaming platform focused on discoverability & community. Our mission is to build a platform where everyone can have the chance to flourish." />
    <meta property="og:image" content="https://glimesh.tv/images/website-lander.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Glimesh">
    <meta name="twitter:title" content="Your Next Generation Streaming Platform">
    <meta name="twitter:description" content="Glimesh is a live streaming platform focused on discoverability & community. Our mission is to build a platform where everyone can have the chance to flourish.">
    <meta name="twitter:image" content="https://glimesh.tv/images/website-lander.jpg">

    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <%= if Application.get_env(:glimesh, :environment) !== :dev do %>
    <script async defer data-domain="glimesh.tv" src="https://s.glimesh.tv/js/index.js"></script>
    <% end %>
  </head>
  <body>
    <div id="app">
        <%= render("_navbar.html", assigns) %>

        <%= @inner_content %>
    </div>

    <footer class="container mt-4 mb-4">
      <div class="row">
        <div class="col-md-3">
          <img src="/images/logos/logo-with-text.png" alt="" style="width: 100%" class="mb-2">
          <small class="d-block mb-3 text-muted text-center">Copyright © 2020 Glimesh<br>All rights reserved</small>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-6 col-md-3 offset-md-3">
              <h5>Social</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://twitter.com/Glimesh">Twitter</a></li>
                <li><a class="text-muted" href="https://discord.gg/Glimesh">Discord</a></li>
                <li><a class="text-muted" href="https://facebook.com/Glimesh">Facebook</a></li>
                <li><a class="text-muted" href="https://instagram.com/Glimesh">Instagram</a></li>
                <li><a class="text-muted" href="https://reddit.com/r/Glimesh">Reddit</a></li>
                <li><a class="text-muted" href="https://github.com/Glimesh">GitHub</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-3">
              <h5>About</h5>
              <ul class="list-unstyled text-small">
                <li><%= link "About Us", to: Routes.about_path(@conn, :index), class: "text-muted" %></li>
                <li><%= link "F.A.Qs", to: Routes.about_path(@conn, :faq), class: "text-muted" %></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5>Legal</h5>
              <ul class="list-unstyled text-small">
                <li><%= link "Terms of Service", to: Routes.about_path(@conn, :terms), class: "text-muted" %></li>
                <li><%= link "Privacy & Cookie Policy", to: Routes.about_path(@conn, :privacy), class: "text-muted" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
