<div class="flex">
  <div>
    <GlimeshWeb.Components.UserSettingsSidebar.sidebar active_path={@conn.request_path} />
  </div>
  <div class="flex-1 p-4">
    <div class="container mx-auto">
      <!-- user-sidebar.html.eex -->

      <!-- user-sidebar.html.eex -->
      <%= @inner_content %>
    </div>
  </div>
</div>