<div class="container" style="text-align:center;">
  <h1><%= gettext("Edit Application") %></h1>
  <%= render "form.html", Map.put(assigns, :action, Routes.application_path(@conn, :update, @changeset.data)) %>
  <div style="margin-bottom:7px;"></div>
  <%= link gettext("Back"), class: "btn btn-primary", to: Routes.application_path(@conn, :index) %>
</div>
