// this is to lock the footer on the bottom without having to deal with position
html,
body {
    height: 100%;

    // this is the final part to lock the fotter to the bottom you are welcome to try and figure out the best dynamic way to set this but have fun with that function
    #app {
        @media(min-height: 558px) {
            min-height: 51.6073%;
        }

        @media(min-height: 675px) {
            min-height: 59.9953%;
        }

        @media(min-height: 937px) {
            min-height: 71.1812%;
        }

        @media(min-height: 1297px) {
            min-height: 79.18%;
        }
    }
}

@import "glimesh/fonts";

// We encourage everyone to use bootstrap as our UI framework, and make stylistic changes as necessary.
@import "glimesh/variables";
@import "bootstrap/scss/bootstrap";

$fa-font-path: "/fa-fonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";


// Glimesh SCSS
@import "glimesh/components/calendar";
@import "glimesh/components/choices";
@import "glimesh/components/live-modal";
@import "glimesh/components/img-avatar";
@import "glimesh/components/card-stream";
@import "glimesh/components/oauth-template";
@import "glimesh/components/user-content-body";
@import "glimesh/components/loading";
@import "glimesh/components/chat";
@import "glimesh/components/stream";
@import "glimesh/components/forms";
@import "glimesh/components/sidebar";
@import "glimesh/components/footer";
@import "glimesh/components/jumbotron";
@import "glimesh/components/card-graphics";
@import "glimesh/components/nav";
@import "glimesh/components/tagify";
@import "glimesh/components/scrollbar";
@import "glimesh/components/follow-button";
@import "glimesh/components/apex-charts";
@import "glimesh/components/video";
@import "glimesh/components/channel-lookup-typeahead";
@import "glimesh/components/recent-tags.scss";

@import "glimesh/pages/dmca";
@import "glimesh/pages/hosting.scss";

@include media-breakpoint-up(lg) {
    .layout-spacing {
        padding-bottom: 40px;
    }
}

.nowrap {
    white-space: nowrap;
}

.text-color {
    color: var(--body-color);
}

.text-color-link {
    color: var(--body-color);
}

.text-color-link-no-hover:hover {
    color: var(--body-color);
}

.text-color-input {
    color: var(--input-color);
}

.text-muted {
    color: var(--text-muted-color) !important;
}

.text-color-alpha {
    color: #FF4343;
}

.close.close-delete {
    color: #FF4343;

    &:hover {
        color: #FF4343;
    }
}

.stream-key:not(:focus) {
    color: transparent;
    text-shadow: 0 0 10px var(--input-color);
}

.fancy-bg {

    position: relative;

    &::before {
        content: "";
        // It's worth using WebP only for this image, saves almost 1MB in size, no harm if users don't see it.
        background: url("/images/homepage/background-resized.webp") no-repeat center -180px;
        background-size: cover;
        opacity: 0.5;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    .position-relative {
        border-radius: 5px;
        margin-bottom: 40px;
    }
}

#timer {
    margin-top: 40px;
    text-align: center;

    color: #fff;

    // text-shadow: 0px 0px 3px #000;

    div {
        display: inline-block;
    }

    .text {
        display: block;
        font-size: 20px;
    }

    .spacer {
        font-weight: bold;
        font-size: 4rem;
    }

    .count {
        display: block;
        font-size: 4rem;
        font-weight: bold;
        color: #FF4343;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #timer {
        div {
            margin-left: 5px;
            margin-right: 5px;
        }

        .text {
            font-size: 20px;
        }

        .spacer,
        .count {
            font-size: 80px;
        }
    }
}

@media (min-width: 1200px) {
    #timer {
        div {

            margin-left: 15px;
            margin-right: 15px;
        }

        .text {
            font-size: 20px;
        }

        .spacer,
        .count {
            font-size: 130px;
        }
    }
}

// Remove some of the bloat from the card titles
.card-header {

    h2,
    h3,
    h4,
    h5 {
        margin-bottom: 0;
    }
}

//Semi-transparent "glass" effect, Element must have a defined background color in rgba or effect may not work.
//Fallback for Firefox under variables.scss as these don't work out of box.
.acrylic {
    backdrop-filter: blur(12px) saturate(160%);
    -webkit-backdrop-filter: blur(12px) saturate(160%);
    background-blend-mode: exclusion;
}

// Addind rainbow colour effect to Community Pride tag
.bg-pride {
    background: linear-gradient(to right,
    #FFD2E9 12.5%, #FFB3B3 12.5% 25%, #FFDDB3 25% 37.5%, #FFFFB3 37.5% 50%, #B3DDB3 50% 62.5%, #B3ECEC 62.5% 75%, #C6B3E0 75% 87.5%, #DDB3DD 87.5%);

}