@font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("../fonts/quicksand-v21-latin-regular.woff2") format("woff2"),
        url("../fonts/quicksand-v21-latin-regular.woff") format("woff");
}

// We encourage everyone to use bootstrap as our UI framework, and make stylistic changes as necessary.
@import "glimesh/variables";
@import "~bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";

// Cork SCSS
// You must have the correct repo access to use this code.
@import "cork/cork";

// Glimesh SCSS
@import "glimesh/components/live-modal";
@import "glimesh/components/img-avatar";
@import "glimesh/components/card-stream";
@import "glimesh/components/navbar";
@import "glimesh/components/body";
