<div class="container mt-4">
  <h1><%= gettext("Edit Application") %></h1>

  <div class="card">
    <div class="card-body">
      <%= render "form.html", Map.put(assigns, :action, ~p"/users/settings/applications/#{@changeset.data.id}") %>
    </div>
  </div>
</div>
