<h1>New Platform subscriptions</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.platform_subscriptions_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.platform_subscriptions_path(@conn, :index) %></span>
