.fixed-header-table {
    table {
        text-align: left;
        position: relative;
        border-collapse: collapse; 
    }
    th, td {
        padding: 0.25rem;
    }
    th {
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
    }
}
