/* noto-sans-regular - latin */
@font-face {
     font-family: 'Noto Sans';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/noto-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/noto-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/noto-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */; 
}
/* noto-sans-700 - latin */
@font-face {
     font-family: 'Noto Sans';
     font-style: normal;
     font-weight: 700;
     src: local(''),
          url('../fonts/noto-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/noto-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/noto-sans-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */;
}

/* roboto-300 - latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     src: local(''),
          url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */;
}
/* roboto-regular - latin */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */;
}
