<div class="container">
    <h1>Edit Article</h1>

    <%= render "form.html", Map.put(assigns, :action, Routes.article_path(@conn, :update, @article.slug)) %>

    <span><%= link "Back", to: Routes.article_path(@conn, :index) %></span>
</div>


