
<div class="container">
  <h2>New Article</h2>
  <span><%= link "Back", to: Routes.article_path(@conn, :index) %></span>


  <%= render "form.html", Map.put(assigns, :action, Routes.article_path(@conn, :create)) %>
</div>


